doctype html
html
    head
        title
        link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/dist/css/style.css')
    body
        include ../shared/site/header
        div.container
            block content
        include ../shared/site/footer
