extends layout

block content
    .panel.panel-primary
        .panel-heading
            h1.text-center Login Page
        .panel-body
            form(method="post" action="/user/login")
                .form-group
                    label(for="username") Username:
                    input.form-control(type="text" id="username" name="username")
                .form-group
                    label(for="password") Username:
                    input.form-control(type="password" id="password" name="password")
                .form-group
                    button.btn.btn-success(onclick="login()") Login
        .panel-footer
            p.text-center If You don't have account click&nbsp;
                a(href="/user/register") Register !
