doctype html
html
    head
        title WebSite
        link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
    body
        include ../shared/site/header
        block content

        include ../shared/site/footer
